<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body style="background: chartreuse;">
    <div>
        <a href=""><p style="background: cornflowerblue;"> Type:{{detail.type}}</p></a>
        <a href=""><p></p> Image: <img src="{{detail.image.url}}" style="height: 40px;"></p></a>
        <p>Title:{{detail.title}}</p>
        <p>recipe:{{detail.recipe}}</p>
        <p>duration:{{detail.duration}}</p>
        <p style="background: cyan;">prep:{{detail.prep}}</p>
        <p>method:{{detail.method}}</p>
        <p>utensils:{{detail.utensils}}</p>
        <p>time_taken:{{detail.time_taken}}</p>
        <p style="background: honeydew;">plating:{{detail.plating}}</p>


    </div>
    
</body>
</html>